<%-include('./layouts/header.ejs')%>

<body>
    <!-- <div class="test">
        <span>+ click me</span>
        <input class="digit" value="1" type="text">
        <span>dfkj</span>
    </div> -->
<!-- header -->
    <div class="background">
        <div>
            <h1 class="display-3 align-content-center">The Best For you <br>Lets <span
                    class="super strong">Shopping</span>
            </h1>
        </div>
    </div>
<!-- /header -->

    <!-- products -->
    <div class="products mt-5">
        <div class="container">
            <div class="row">
                <h2 class="col-sm-6">Products</h2>
                <%if(products.length> 4){%>
                    <a href="/products" class="small super col-sm-6 text-sm-right pt-sm-3">VIEW MORE ></a>
                    <%}%>
            </div>
            <hr>
            <div class="row">
                <%for(let i=0; i< products.length; i++){%>
                    <div class="col-sm-6 col-md-4 col-lg-3 pr-1 mb-3">
                        <div class="card">
                            <div class="image card-image-top " style="background-image:url(/<%=products[i].picture%>)">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title"><a href="/product/<%=products[i]._id%>">
                                        <%=products[i].name%>
                                    </a> </h4>
                                    <small class="text-muted">
                                        <%=products[i].type%>
                                    </small>
    
                                    <!-- <div class="price d-flex justify-content-between">
                                        
                                        
                                    </div> -->
                                    <form action="/card" method="POST">
                                        <p class=" float-left text-muted">$<%=products[i].price%>
                                        </p>
                                        <div class="float-left ml-3">
                                            <i class="bgRed fas fa-plus"></i>
                                            <input readonly type="text" name="quantity" value="1">
                                            <i class="bgRed fas fa-minus"></i>
                                            <input type="hidden" name="productId" value="<%=products[i]._id%>">
                                        </div>
                                         
                                    
                                        <button class="btn-card"> <i class="fas fa-cart-plus"></i></button>
                                    </form>
    
                            </div>
                        </div>
                    </div>
                    <%if(i==3){break}%>
                        <%}%>
    
            </div>
        </div>
    </div>
    <!-- /products -->
    
    
    <!-- About -->
    <div class="about">
        <div class="container">
            
            <h2>About</h2>
            <hr>
            <div class="row">
                <div class="col-md d-flex align-items-center">
                
               <p class=" ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nam porro animi eligendi doloribus consequatur natus nisi est praesentium dignissimos modi, cupiditate ab, quae possimus minima dicta suscipit. Sapiente, delectus.</p>
               
            </div>

            <div class="col-md">
                <img class="float-md-right" style="height: 500px;" src="about.jpg" alt="">
                <!-- <div class="imageVertical" style="background-image: url(/irene-kredenets-dwKiHoqqxk8-unsplash.jpg);"></div>-->
            </div>
        </div>
        </div>
    </div>
    
<!-- /About -->

<!-- Offers -->
    <!-- <div class="offers">
        <!-- title -->
        <!-- <div class="container-lg">
            <div class="row">
            <h2 class="col-sm-6">offers</h2>
            <a href="/offers" class="small super col-sm-6 text-sm-right pt-sm-3">VIEW MORE ></a>

            </div>
        <hr>
        <!-- /title -->

        <!-- items on offers -->
        <!-- <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 pr-1 mb-3">
                <div class="card" >
                    <div class="image card-image-top " style="background-image:url(/jade-scarlato-1zBPoVwS_Jo-unsplash.jpg)"></div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="/product/:id">Nike temper</a> </h5>
                            <small class="text-muted">Sports</small>
            
                            <div class="price">
                                <h2 class="d-inline-block text-warning font-weight-bold">$62</h2>
                                <span class="ml-2 text-danger"><del>$90</del></span>
                            </div>
            
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-4 col-lg-3 pr-1 mb-3">
                <div class="card" >
                    <div class="image card-image-top" style="background-image:url(/jade-scarlato-1zBPoVwS_Jo-unsplash.jpg)"></div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="/product/:id">Nike temper</a> </h5>
                            <small class="text-muted">Sports</small>
            
                            <div class="price">
                                <h2 class="d-inline-block text-warning font-weight-bold">$62</h2>
                                <span class="ml-2 text-danger"><del>$90</del></span>
                            </div>
            
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 pr-1 mb-3">
                <div class="card" >
                    <div class="image card-image-top" style="background-image:url(/jade-scarlato-1zBPoVwS_Jo-unsplash.jpg)"></div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="/product/:id">Nike temper</a> </h5>
                            <small class="text-muted">Sports</small>
            
                            <div class="price">
                                <h2 class="d-inline-block text-warning font-weight-bold">$62</h2>
                                <span class="ml-2 text-danger"><del>$90</del></span>
                            </div>
            
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 pr-1 mb-3">
                <div class="card" >
                    <div class="image card-image-top" style="background-image:url(/jade-scarlato-1zBPoVwS_Jo-unsplash.jpg)"></div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="/product/:id">Nike temper</a> </h5>
                            <small class="text-muted">Sports</small>
            
                            <div class="price">
                                <h2 class="d-inline-block text-warning font-weight-bold">$62</h2>
                                <span class="ml-2 text-danger"><del>$90</del></span>
                            </div>
            
                    </div>
                </div>
            </div>

        </div> -->
        
        <!-- /items on offers -->
        <!-- </div>
    </div> --> --> -->

<!-- /Offers -->


<%-include('./layouts/footer.ejs')%>

<script>
    $(document).ready(()=>{
        $(".products .card form .fa-plus").on('click',function(){
            var num = $(this).next().val()
            num++
            $(this).next().val(num)
            console.log('this')
        })

        $(".products .card form .fa-minus").on('click',function () {
            var num = $(this).prev().val();
            if(num!=1)
            num--
            $(this).prev().val(num)
        })
    })
</script>